
###> symfony/framework-bundle ###
/.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/web-server-bundle ###
/.web-server-pid
###< symfony/web-server-bundle ###

\.idea/workspace\.xml

\.idea/

public/imblog/
public/identites/

public/galerie/ffmpeg*
public/galerie/img
public/galerie/sized
public/galerie/thumb

sass-tools/.sass-cache
sass-tools/node_modules

phploy.ini
