{% extends 'base.html.twig' %}

{% block title %}Formation des Débutants{% endblock %}

{% block main_page %}

    <div class="row">
        <div class ="col-12">
            <h3>LA FORMATION NIVEAU 1</h3>
        </div>
        <div class ="col-6 col-sm-3">
            <img src="{{ asset( conf('path_team') ~ 'DUPUIS-Xavier.jpg') }}" class="img-ident w100">
            <div class="nomblu">Xavier DUPUIS<br>(E2 - Responsable N1)</div>
        </div>
        <div class ="col-6 col-sm-3">
            <img src="{{ asset( conf('path_team') ~ 'TOURNEUR-Florence.jpg') }}" class="img-ident w100">
            <div class="nomblu">Florence TOURNEUR<br>(E2 - Co-Responsable N1)</div>
        </div>
        <div class="col-12 col-sm-6">
            <p>Suite logique au baptême, la formation niveau 1 est une préparation qui se déroule intégralement
                en piscine. Elle permet l'obtention d'un diplôme de la F.F.E.S.S.M. après avoir assimilé les
                règles élémentaires de sécurité en milieu subaquatique.</p>
            <p>Ce brevet permet de plonger avec d'autres personnes et un encadrant jusqu'à une profondeur
                de 20 mètres et de découvrir les merveilles du royaume de Poséidon.
        </div>
        <div class ="col-12">
            <h3>Organisation de la formation Niveau 1</h3>
            <p>Les entraînements et les cours sont organisés par groupe de niveau homogène. Les groupes se
                constituent par affinité et par niveau. Il y a un encadrant par groupe de 4 à 6 élèves. Les
                différents encadrants d'un même niveau dépendent du responsable de niveau.</p>
            <p>La formation se décompose en 3 parties :</p>
            <ul>
                <li><u>Une partie nage :</u> qui regroupe la natation avec ou sans palmes, l'utilisation
                    du masque, le vidage de tuba, l'initiation à l'apnée, un apprentissage des techniques
                    d'immersion et de respiration, etc</li>
                <li><u>Une autre partie avec bloc (scaphandre) :</u> où l'on apprend à utiliser un bloc, un
                    détendeur et un gilet stabilisateur, ainsi que les signes qui permettent de dialoguer et
                    d'assurer la sécurité sous l'eau</li>
                <li><u>Une partie théorique :</u> au cours de laquelle des notions complémentaires, toujours
                    axées sur la sécurité, seront expliquées. La formation préparant au niveau 1 se fait sous
                    forme d'un contrôle continu, et nécessite un minimum d'assiduité.</li></ul>
        </div>
        <div class ="col-12">
            <h3>La sortie en mer :</h3>
            <p>A l'issue de cette formation, une sortie en mer est organisée de façon à vous faire découvrir
                le monde sous-marin en toute sécurité. </p>
            <p>Quatre plongées en mer ou lac sont obligatoires pour obtenir la validation du niveau 1. </p>
            <p><strong>Pour l'année 2017/2018, cette sortie aura lieu le week-end des 26 et 27 mai 2018.</strong>
                Le coût de la sortie sera d'environ 220€ et n'est pas inclus dans le prix de l'inscription.</p>
            <p>Après ce week-end de validation et votre niveau 1 en poche, vous pourrez participer aux sorties
                explorations organisées par le club et annoncées au travers de la liste de distribution
                (voir ci-dessous).</p>
        </div>
        <div class ="col-12">
            <h3>Votre équipement :</h3>
            <p>Dès les premières séances d'entraînement, il est demandé à chaque plongeur d'avoir son
                équipement personnel composé d'une paire de palmes, un masque, un tuba et un bonnet de bain
                (obligatoire). N'hésitez pas à demander des conseils à votre encadrant.</p>
            <p>Si vous souhaitez acheter une combinaison pour les sorties en mer, demandez aussi conseil
                à votre encadrant.</p>
        </div>
        <div class ="col-12">
            <h3>Les informations :</h3>
            <p>Tout ce qui concerne la vie du club (sorties en mer, animations, vente de matériel, ...)
                est envoyé par email sur la liste de distribution du club</p>
            <pre>gucplongee@guc-plongee.net</pre>
            <p>Tout adhérent peut demander son inscription à cette liste afin de rester informé de la vie du club.
                Il suffit d'envoyer un email à <strong>gucplongee-subscribe@guc-plongee.net</strong>
                <u>en indiquant son nom et son prénom</u>. En effet, chaque demande d'inscription est validée à
                partir de la liste des adhérents.</p>
            <p>Les adhérents ayant un problème pour s'inscrire peuvent envoyer un email à
                gucplongee-owner@guc-plongee.net .</p>
        </div>
    </div>

{% endblock %}
