{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block main_page %}

    <div style="margin:0 auto; width:100%;height:600px">
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%23FFFFFF&amp;src=lf4ktksoa1nd0sg01im4b4suuc%40group.calendar.google.com&amp;color=%23865A5A&amp;src=fr.french%23holiday%40group.v.calendar.google.com&amp;color=%23125A12&amp;src=e_2_fr%23weeknum%40group.v.calendar.google.com&amp;color=%23865A5A&amp;ctz=Europe%2FParis" style="border-width:0" width="100%" height="600" frameborder="0" scrolling="no"></iframe>
    </div>

{% endblock %}
