{% form_theme formContact 'bootstrap_4_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Bapteme{% endblock %}

{% block main_page %}

<div class="row">

    <div class="col-12">
        <h3>Le Baptême :</h3>
    </div>

    <div class="col-12 col-sm-3">
        <img src="<?= $html->getPathRoot(Config::$path_team) . "/DEQUIER-Jerome.jpg"?>" class="img-ident w100">
        <div class="nomblu">Jérôme DEQUIER <br>(MF1 - Responsable des baptêmes)</div>
    </div>

    <div class="col-12 col-sm-9">
        <p>Toute l'année, nous accueillons les personnes agées de 8 ans ou plus et désireuses de
            faire un baptême de plongée en piscine. Il dure entre 15 et 20 minutes, il est totalement
            gratuit et sans engagement. Pourquoi s'en priver ?</p>
        <p>Si vous avez un/des ami(s), parent(s), collègue(s) désireux de faire ses premières bulles
            en toute sécurité, n'hésitez pas. Un moniteur sera là pour lui faire découvrir les sensations
            de la plongée sous-marine</p>
        <p>Tout le matériel est fourni par le club, il suffit de venir avec son maillot de bain, un
            bonnet de bain (mais nous pouvons en trouver), son gel douche et une serviette.</p>
        <p>Pourquoi faire un baptême ?</p>
        <ul>
            <li>Pour sentir son corps différemment et découvrir une sensation nouvelle</li>
            <li>Pour découvrir la plongée</li>
            <li>Pour essayer avant de s'inscrire à la formation niveau 1</li>
        </ul>
        <p>Cela vous tente ? alors faites-en la demande en utilisant ce formulaire ci-dessous :</p>
    </div>

    <div class="col-12">
        <h3>Inscription pour un baptême</h3>
    </div>

    <form method="post" action="#">
        <div class="col-12 col-sm-4">
            <h4>Email de contact</h4>
            {# mail#}
        </div>

        <div class="col-12 col-sm-8">
            <h4>Date souhaitée</h4>
            {#<?php $e->afficheErrors(1, 2);
            $db = $sheet->construireTableDates();
            $now = new DateTime();
            $now->setTime(0, 0, 0);
            foreach ($db as $a => $b) {
            $d = new DateTime(FormHelper::dgm($a));
            if ($d >= $now) {
            $dispo = $b['dispo']-$b['pris'];
            if ($dispo > 0) {
            $value = "Le $a, Rendez-vous à ".$b['lieu']." (".$dispo." places disponibles)";
            $dats[$value] = $a;
            }
            }
            }
            Controls::inoption('date', $dats, @$_POST['date']);
            ?>#}
        </div>

        <div class="col-12">
            <h3>Personnes à baptiser</h3>
            <p>Laissez les lignes inutiles vides</p>
            {#<?php $e->afficheErrors(1, 3);
            affbloc(1, $e);
            affbloc(2, $e);
            affbloc(3, $e);
            affbloc(4, $e);
            affbloc(5, $e);
            ?>
            <?php rowb();
                colb(12, 12, 12, 12);?>#}
            <h3>Précisions éventuelles</h3>
            {#
            <?php
                    if (isset($_POST['comment']) && $_POST['comment'] != "") {
                        $dv = $_POST['comment'];
                    } else {
                        $dv = '';
                    }
                    Controls::intextarea('', 'comment', 5, $dv, 'Précisions'); ?>
            <?php cole();
                rowe(); ?>
            <?php
                rowb();
                    colb(12, 12, 12, 12);
                        Controls::inbutton(
                            'Envoyer',
                            'Submit',
                            'Envoyer',
                            'block',
                            'class:btn-primary,glyph:envelope'
                        );
                    cole();
                rowe();
                ?>
            <p>&nbsp;</p>#}
        </div>
    </form>
</div>

{% endblock %}
