{% extends 'base.html.twig' %}

{% block title %}Formation des Initiateurs{% endblock %}

{% block main_page %}

    <div class="row">
        <div class="col-12">
            <h3>LA FORMATION INITIATEUR</h3>
        </div>
        <div class="col-6 col-sm-3">
            <img src="{{ asset( conf('path_team') ~ 'GONINET-Bruno.jpg') }}" class="img-ident w100">
            <div class="nomblu">Bruno GONINET<br>MF1 - Formateur Initiateur</div>
        </div>
        <div class="col-6 col-sm-3">
            <img src="{{ asset( conf('path_team') ~ 'ANDRE-Maude.jpg') }}" class="img-ident w100">
            <div class="nomblu">Maude ANDRE<br>MF1 - Formateur Initiateur</div>
        </div>
        <div class="col-12 col-sm-6">
            <p>Le diplôme d'initiateur est le premier diplôme fédéral d'enseignement.</p>
            <p>Il permet de transmettre vos acquis aux plongeurs débutants et niveaux 1.</p>
        </div>
        <div class="col-12">
            <h3>PRÉROGATIVES DE L'INITIATEUR</h3>
            <ul>
                <li>Surveillance et organisation des séances en bassin, dans l'espace proche (zone des 6 mètres).
                </li>
                <li>Responsabilité d'enseignement en bassin, dans l'espace proche.</li>
                <li>Entraînement aux exercices du débutant au plongeur niveau 2 dans l''espace proche.</li>
                <li>Participation aux jurys du brevet niveau 1.</li>
            </ul>
            <p>Les initiateurs brevetés plongeurs niveau 4 FFESSM peuvent enseigner, au sein d'un club, la
                plongée dans la zone des 20 mètres avec l'accord du directeur de plongée.</p>
        </div>
        <div class="col-12">
            <h3>FORMATION AU BREVET D'INITIATEUR AU GUC PLONGEE</h3>
            <p>La participation à un stage initial initiateur organisé en début d'année par la Comission
                Technique Départementale (CTD Isère) est obligatoire. A l'issue de ce stage, un livret
                pédagogique est remis aux stagiaires.</p>
            <p>Les dates seront communiquées par le responsable de la section.</p>
            <p>Les personnes motivées doivent contacter <Strong>Bruno GONINET ou Maude ANDRE</Strong> au plus
                tôt et ont grand intérêt à fréquenter la piscine régulièrement lors des séances d'entraînement
                et des cours théoriques. A fil des séances, le livret pédagogique sera complété.</p>
            <p>L'examen initiateur est lui aussi organisé par la CTD Isère. La date et lieu de l'examen ne sont
                pas encore connus à ce jour. La remise du livret pédagogique rempli est obligatoire pour
                présenter l'examen.</p>
            <p>Se renseigner auprès de <Strong>Bruno ou Maude</Strong>.</p>
        </div>
    </div>

{% endblock %}
