{% extends 'base.html.twig' %}

{% block title %}Contact : Mail envoyé !{% endblock %}

{% block main_page %}

    <div class="row">
        <div class="col-12">
            <h1>Votre message vient d'être envoyé</h1>
{#
            <p>{{ formContact.viewData.Nom }}</p>
            <p>{{ formContact.viewData.Email }}</p>
            <p>{{ formContact.viewData.Message }}</p>#}
        </div>
    </div>

{% endblock %}
