{% form_theme formContact 'bootstrap_3_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block main_page %}

    <div class="row">
        <div class="col-12">
            <h1>Insciption</h1>

            {{ form_start(formContact) }}
            {{ form_widget(formContact) }}
            <button type="submit" class="btn btn-block btn-success">Go!</button>
            {{ form_end(formContact) }}
        </div>
    </div>

{% endblock %}
{#
$email = "";
$nom = "";
$message = "";

$e = new Error();

if (isset($_POST) && isset($_POST['nom']) && isset($_POST['email']) && isset($_POST['message'])) {
    // Validation formulaire

    $nom = $_POST['nom'];
    $email = $_POST['email'];
    $message = $_POST['message'];

    // Quelques tests

    if ($email == "" || filter_var($email, FILTER_VALIDATE_EMAIL) == false) {
        $e->error(1, 1, "Votre adresse mail semble incorrecte");
}

if ($nom == "") {
$e->error(1, 1, "Veuillez saisir votre nom");
}

if ($message == "") {
$e->error(1, 1, "Votre message est vide");
}

if ($e->getNbErrors() == 0) {
$sujet = "Formulaire de contact GUC Plongée émis par $nom <$email>";

$body_text = "************************************\n";
$body_text .= "Nom de l'emetteur  : $nom\n";
$body_text .= "Mail de l'emetteur : $email\n";
$body_text .= "************************************\n";
$body_text .= "Message:\n";
$body_text .= "************************************\n";
$body_text .= $message . "\n";
$body_text .= "************************************\n";

$body_html = "<html><head></head><body>\n";
$body_html = "<table width=\"400\" border=1 style=\"border-collapse:collapse;\">\n";
    $body_html .= "<tr><th>Nom de l'emetteur</th><th>Mail de l'emetteur</th></tr>\n";
    $body_html .= "<tr><td><center>" . $nom . "</center></td><td><center><a href=\"mailto:$email\">" .
                    $email . "</a></center></td></tr>\n";
    $body_html .= "<tr><td colspan=\"2\"><pre>" . htmlentities(
            $message,
            ENT_QUOTES | ENT_SUBSTITUTE | ENT_HTML401,
            "UTF-8"
        ) . "</pre></td></tr>\n";
    $body_html .= "</table>\n";
$body_html .= "</body></html>";

$from = "GUC Contact Web <" . $email . ">";
$ret = (new MailMime())->mimeMail(
$from,
MailUsers::$webmaster . "," . MailUsers::$guc_contact,
$sujet,
$body_text,
$body_html
);

if ($ret == false) {
$e->error(1, 1, "Erreur système : Votre message n'a pas pu être envoyé");
}
}
} else {
$nom = '';
$email = '';
$message = '';
}

$html = new Header();
$html->start("Email de contact");

// Afficher erreurs éventuelles
if ($e->getNbErrors() != 0) {
$e->goAffErreurs(); ?>
<div class="container">
    <h3>L'envoi de votre message n'a pas abouti</h3>
    <p>Corrigez les erreurs indiquées <span class="red">en rouge</span> ci-dessous.</p>
</div>
<?php
} else {
    if (isset($ret) && $ret != false) { // Mail envoyé avec succès ?>
<div class="container">
    <h3>Message envoyé</h3>
    <p>Votre message a été envoyé.</p>
    <p>Une réponse vous sera faite rapidement</p>
    <p>Merci</p>
</div>
</body>
</html>
<?php
        exit;
    }
}
?>
<div class="container">
    <div class="col-xs-12">
        <h3>Une suggestion?</h3>
        <?php $e->afficheErrors(1, 1); ?>
        <p>Vos commentaires, suggestions et questions sont les bienvenues. Prenez un moment pour nous écrire.</p>
    </div>
    <form method="post" action="index_contact.php">
        <div class="col-xs-12 col-sm-6">
            <?php Controls::intext('Nom :', 'nom', $nom, 'Entrez votre nom dans ce champ'); ?>
        </div>
        <div class="col-xs-12 col-sm-6">
            <?php Controls::intext('Email :', 'email', $email, 'Entrez votre adresse mail'); ?>
        </div>
        <div class="col-xs-12">
            <?php Controls::intextarea('Message :', 'message', 30, $message, 'Entrez votre message'); ?>
        </div>
        <div class="col-xs-12">
            <?php Controls::inbutton('Envoyer', 'Submit', 'Envoyer', 'default', ''); ?>
        </div>
    </form>
</div>
<?php $html->end(); ?>
#}
