{% extends 'base.html.twig' %}

{% block title %}Liens{% endblock %}

{% block main_page %}

    <div class="row">
        <div class="col-12">
            <h3>La page des liens</h3>
            <p><strong>Note importante :</strong> Aucun lien ne nous uni aux groupes mentionnés ci-dessous,
                aucun accord n'existe entre eux et nous. Nous ne retirons aucun bénéfice à les citer ici,
                et nous n'exprimons ni préférence ni critère de qualité. Vous êtes seuls juges de l'intérêt
                à leur accorder, nous ne les mentionnons qu'afin que vous puissiez retrouver leur URL plus
                rapidement. Qu'on se le dise !</p>
        </div>
        <div class="col-12">
            <h3>Fédérations</h3>
            <h4>Les différentes fédérations :</h4>
            <p>La FFESSM, les différents comités régionaux et d'autres féd&érations telles que CMAS, NAUI,
                la LIFRAS ou encore PADI.</p>
            <ul>
                <li><a href="http://www.ffessm.fr/" target="_blank">FFESSM : Le site officiel</a></li>
                <li><a href="http://www.ffessm.fr/pagectn.asp?pages_numero=219"
                       target="_blank">FFESSM: Commission Technique Nationale </a></li>
                <li><a href="http://www.comiteraba.fr/"
                       target="_blank">FFESSM : Comite Interrégional RABA</a></li>
                <li><a href="http://www.ffessm-isere.fr/"
                       target="_blank">FFESSM : Comité Départemental Isère</a></li>
                <li><a href="http://www.ffessm-cif.fr/"
                       target="_blank">FFESSM : Comité Régional Ile-de-France</a></li>
                <li><a href="http://www.ctrbpl.org"
                       target="_blank">FFESSM : Commission Technique Régionale Bretagne et Pays-de-la-Loire</a></li>
                <li><a href="http://www.ffessm-provence.net"
                       target="_blank">FFESSM : Comission Technique Régionale Provence</a></li>
                <li><a href="http://www.cmas.org" target="_blank">CMAS</a></li>
                <li><a href="http://www.naui.org" target="_blank">NAUI</a></li>
                <li><a href="http://www.padi.com" target="_blank">PADI</a></li>
            </ul>
        </div>
        <div class="col-12">
            <h3>Liens constructeurs (par ordre alphabétique):</h3>
        </div>
        <div class="col-12 col-sm-6">
            <h4>Les pépites du web :</h4>
            <p>Ces liens vous permettrons de vous renseigner sur l'oxygénothérapie, la météo,
                le traitements des ADD. Vous avez besoin de tables US NAVY, d'informations
                médicales...C'est ici que vous trouverez tout ça.</p>
            <ul>
                <li>
                    <a href="http://www.aquaholic.com/freesoft.htm"
                       target="_blank">Aquaholics-tables de plongee</a>
                </li>
                <li>
                    <a href="http://www.lachainemeteo.com"
                       target="_blank">Météo en France</a>
                </li>
                <li>
                    <a href="http://www.aquanaute.com/plongezloisir/sites/caissons.htm"
                       target="_blank">Plongez Loisir!</a>
                </li>
                <li>
                    <a href="http://perso.orange.fr/plonge.medical/"
                       target="_blank">http://perso.wanadoo.fr/plonge.medical/</a>
                </li>
                <li>
                    <a href="http://perso.orange.fr/joel.talon/"
                       target="_blank">La Pédagogie selon Joel Talon</a>
                </li>
            </ul>
        </div>
        <div class="col-12 col-sm-6">
            <h4>Plongée passion :</h4>
            <p>Coup de coeur de sites super sympa.</p>
            <ul>
                <li>
                    <a href="http://doris.ffessm.fr/"
                       target="_blank">FFESSM : Le site des "Données d'Observation pour l'Identification de la faune et de
                        la flore"</a></li>
                <li>
                    <a href="http://www.aquanaute.com/gem/index.html"
                       target="_blank">GEM (site sympa sur le mérou)</a>
                </li>
                <li>
                    <a href="http://www.culture.gouv.fr/culture/archeosm/fr/fr-medit-prehist.htm"
                       target="_blank">La Grotte Cosquer</a>
                </li>
                <li>
                    <a href="http://www.archeologie-sous-marine.culture.fr/"
                       target="_blank">L'Archéologie sous les mers</a>
                </li>
                <li>
                    <a href="http://perso.orange.fr/cap.info/"
                       target="_blank">Epave et épaves, wrecks and shipwreck, capinfo</a>
                </li>
                <li>
                    <a href="http://www.thelin.net/laurent/plongee/"
                       target="_blank">A l'web, rien de nouveau ? La plongée sous-marine</a>
                </li>
                <li>
                    <a href="http://www.lunerouge.org/spip/rubrique.php3?id_rubrique=8"
                       target="_blank">Lune Rouge : Plongée</a>
                </li>
            </ul>
        </div>
        <div class="col-12">
            <h3>Pour le matériel :</h3>
        </div>
        <div class="col-12 col-sm-6">
            <h4>Liens magasins :</h4>
            <p>Sur Grenoble:</p>
            <ul>
                <li><a href="http://www.scubawind.com/" target="_blank">Scubawind Claix</a></li>
                <li><a href="http://www.bubble-diving.com/" target="_blank" title="Materiel plongee">Matériel plongee -
                        Bubble Diving</a></li>
                <li><a href="http://www.decathlon.fr/C-10883-plongee" target="_blank">Décathlon</a></li>
                <li><a href="http://www.go-sport.fr/" target="_blank">Go Sport</a></li>
                <li><a href="http://www.auvieuxcampeur.fr/eau" target="_blank">Au Vieux Campeur</a></li>
            </ul>
            <p>Et ailleurs</p>
            <ul>
                <li><a href="http://www.subchandlers.com/" target="_blank">Subchandlers</a></li>
                <li><a href="http://www.vieuxplongeur.com/" target="_blank">Vieux Plongeur</a></li>
            </ul>
        </div>
        <div class="col-12 col-sm-6">
            <h4>Liens constructeurs (par ordre alphabétique):</h4>
            <p>Les constructeurs, les usines, tout ça tout ça....</p>
            <ul>
                <li><a href="http://www.aqualung.fr" target="_blank">Aqualung</a></li>
                <li><a href="http://www.beuchat.fr/" target="_blank">Beauchat</a></li>
                <li><a href="http://www.cressi.it/" target="_blank">Cressi</a></li>
                <li><a href="http://www.mares.it/" target="_blank">Mares</a></li>
                <li><a href="http://www.scubapro.com/" target="_blank">Scubapro et Uwatec</a></li>
                <li><a href="http://www.seacsub.com/" target="_blank">Seac Sub</a></li>
                <li><a href="http://www.suunto.com/" target="_blank">Suunto</a></li>
            </ul>
        </div>
    </div>

{% endblock %}
