{% extends 'base.html.twig' %}

{% block title %}Formation des Enfants{% endblock %}

{% block main_page %}

    <div class="container">
        <div class="col-xs-12">
            <h3>LA PLONGEE ENFANTS ET ADOS</h3>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <img src="{{ asset('team/FROUIN-Pierre.jpg') }}" class="img-ident w100">
            <div class="nomblu"><center>Pierre FROUIN<br>
                    E1 - Responsable Enfants</center>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <h4>Pourquoi faire découvrir la plongée aux enfants ?</h4>
            <p>La condition physique, l'aisance aquatique, la maîtrise de soi, la confiance en soi, l'esprit d'équipe,
                sont quelques-uns des aspects développés par les enfants pratiquant la plongée sous-marine.</p>
            <p>La plongée au GUC couvre toutes les générations, de <Strong>10 ans</Strong> à ... au plus vieux,
                restons discret.</p>
            <p>Les inscriptions enfants/ados se font en nombre limité car ces groupes nécessitent un plus grand
                nombre d'encadrants.</p>
            <p>L'effectif du groupe en 2016/2017 était de 15 enfants.</p>
            <p>Si vous êtes intéressés, adressez-vous à <Strong>Pierre FROUIN</Strong> responsable de la section enfant
                <Strong>pierre.frouin@neuf.fr</Strong></p>
        </div>
        <div class="col-xs-12">
            <h3>La plongée enfant au GUC</h3>
            <p>Une ou plusieurs sorties en mer concrétisent une saison d'entraînements très variés en piscine :
                nage, apnée, signes et exercices de sécurité, évolution en palanquée,  études des phénomènes
                physiques et physiologiques, noeuds  marins, biologie, hockey subaquatique et photographie
                sous-marines</p>
            <p>Cet enseignement est dispensé par des moniteurs diplômés de la Fédération Française d'Etudes et
                de Sports Sous-Marins dans le strict respect des protocoles de cette fédération. </p>
            <p>La plongée pour mineurs répond à un règlement et un encadrement spécifique. Quel que soit l'âge,
                le mineur ne peut jamais plonger en autonomie et toute activité, y compris l'exploration, est
                considérée comme un acte d'enseignement. L'encadrement doit donc être de niveau minimum E1
                (niveau 2 initiateur) pour la zone des moins de 6 mètres ou en piscine, et de niveau E2 (niveau 4
                initiateur) pour la zone de profondeur supérieure à 6 mètres.</p>
            <p>Le matériel personnel nécessaire pour l'entraînement en piscine comporte palmes, masque et tuba.
                Pour éviter d'avoir froid, un shorty (mi-bras mi-jambe) est vivement recommandé (dans ce cas,
                une ceinture de plomb avec un ou deux kilos peut être nécessaire). Le port du bonnet de bains est
                obligatoire à la piscine du campus.</p>
            <p><u>La section enfant du GUC Plongée dispose de matériels spécifiques pour la plongée des
                    enfants :</u></p><ul>
                <li><Strong>Blocs de 6 et 10 litres</Strong></li>
                <li>Stabs de très petites tailles (XXS) </li>
                <li>Embouts de détendeurs de petites tailles</li>
                <li>Des jeux subaquatiques spécifiques</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>10 à 12 ans dans la saison</h3>
                    <p>Pas d'adultes dans ce groupe (super non !!!). Ils ont accès à des niveaux spécifiques:
                        Plongeur Bronze, Argent et Or. Les plongées se situent entre
                        5 et 10 mètres suivant l'âge et ils ne peuvent plonger qu'une fois par jour. </p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3>13 à 14 ans dans la saison</h3>
                    <p>Pas d'adultes non plus, le pied !!! Ils suivent la formation niveau 1 qu'ils peuvent
                        présenter dès 14 ans.</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12 col-sm-6">
                    <h3>15 à 16 ans dans la saison</h3>
                    <p>Ils intègrent un groupe spécial adolescent. Ils peuvent présenter leur candidature
                        aux niveaux 2 et PE40 et les passer à 16 ans révolus.</p>
                </div>
                <div class="col-xs-12 col-sm-6">
                    <h3>Au delà de 16 ans</h3>
                    <p>Ils intègrent les groupes de formations pour adultes correspondants au niveau préparé.
                        Ils devront attendre 18 ans pour passer le niveau 3, ainsi que l'initiateur. Une forte
                        motivation est nécessaire car l'entraînement se fait avec des adultes acariâtres :-) .</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12">
            <h3>L'organisation de l'enseignement est la suivante:</h3>
            <ul>
                <li>Les séances se déroulent entre 19H30 et 21H30.</li>
                <li>Les enfants attendent leurs parents dans le hall de la piscine après la séance, en compagnie
                    de l'un de leurs encadrants. les parents doivent venir les récupérer dans le hall.</li>
                <li>Une séance de formation, un mardi sur deux d'octobre à juin pour le groupe des 10/12 ans et
                    chaque mardi pour les 12/14 ans et 14/16 ans, sauf pendant les vacances scolaires.</li>
                <li>Chaque séance comprend un enseignement théorique et des exercices pratiques.</li>
                <li>En fin de saison (fin juin), une validation des connaissances se fait en milieu naturel pendant
                    un séjour de deux jours en Méditerranée.</li>
            </ul>
        </div>
        <div class="col-xs-12">
            <h3>Pour l'inscription</h3>
            <p>En plus du dossier d'inscription, <u>un certificat médical</u> doit être fourni. Il doit être
                délivré :</p>
            <ul>
                <li>Par un <font color="#FF0000">médecin fédéral ou hyperbare pour les moins de 14 ans non
                        titulaires du N1</font>,</li>
                <li>Par un médecin du sport, fédéral ou hyperbares pour les plus de 14 ans ou ceux titulaires
                    du N1</li>
            </ul>
            <p class="redw">Un certificat d'un médecin généraliste n'est pas suffisant.</p>
            <p>Il est aussi recommandé de faire vacciner l'enfant contre l'hépatite B et de faire vérifier
                l'étanchéité des plombages par un dentiste.</p>
            <p>Pour la première inscription, nous recommandons aussi de faire pratiquer une audio-tympanométrie.
                Parlez-en à votre médecin.</p>
        </div>
        <div class="col-xs-6 col-sm-3">
            <p><img src="{{ asset('im/logo_isere.png') }}"></p>
        </div>
        <div class="col-xs-6 col-sm-9">
            <p>Pour le paiement, nous acceptons les chèques bancaires et les chèques Pass'Sport du
                PACK'LOISIRS du département.</p>
        </div>
    </div>

{% endblock %}
