/* line 13, ../../sass/menu_top.scss */
.pad-menu {
  padding-top: 40px;
}

/* line 17, ../../sass/menu_top.scss */
#menu {
  width: 1280px;
  margin: 0;
  padding: 10px 0 0 0;
  list-style: none;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzM5NGM4NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM5NGM4NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: linear-gradient(#394c87, #394c87);
  font-size: 14px;
}
/* line 18, ../../sass/menu_top.scss */
#menu.fixed {
  position: fixed;
  top: 0;
  z-index: 1000;
}
/* line 34, ../../sass/menu_top.scss */
#menu .menubapteme {
  color: #fc9c5c !important;
}
/* line 37, ../../sass/menu_top.scss */
#menu:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
/* line 46, ../../sass/menu_top.scss */
#menu li {
  float: left;
  padding: 0 0 10px 0;
  margin: 0;
  position: relative;
  list-style: none;
}
/* line 52, ../../sass/menu_top.scss */
#menu li:hover > a {
  color: #fafafa;
}
/* line 55, ../../sass/menu_top.scss */
#menu li:hover > ul {
  display: block;
}
/* line 59, ../../sass/menu_top.scss */
#menu a {
  float: left;
  height: 25px;
  padding: 0 10px;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #000;
}
/* line 72, ../../sass/menu_top.scss */
#menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  top: 35px;
  left: 0;
  z-index: 10000;
  background: #394c87;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ0NDQ0NCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzExMTExMSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: linear-gradient(#444444, #111111);
  border-radius: 4px;
  -webkit-transform: translateY(-10px);
  transform: translateY(-10px);
}
/* line 86, ../../sass/menu_top.scss */
#menu ul li {
  float: none;
  margin: 0;
  padding: 0;
  display: block;
  box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}
/* line 94, ../../sass/menu_top.scss */
#menu ul li:last-child {
  box-shadow: none;
}
/* line 96, ../../sass/menu_top.scss */
#menu ul li:last-child a {
  border-radius: 0 0 4px 4px;
}
/* line 101, ../../sass/menu_top.scss */
#menu ul li:first-child a {
  border-radius: 4px 4px 0 0;
}
/* line 104, ../../sass/menu_top.scss */
#menu ul li:first-child a:after {
  content: '';
  position: absolute;
  left: 30px;
  top: -8px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 8px solid #444;
}
/* line 115, ../../sass/menu_top.scss */
#menu ul li:first-child a:hover:after {
  border-bottom-color: #04acec;
}
/* line 120, ../../sass/menu_top.scss */
#menu ul a {
  padding: 10px;
  height: auto;
  line-height: 1;
  display: block;
  white-space: nowrap;
  float: none;
  text-transform: none;
  background-color: #394c87;
}
/* line 129, ../../sass/menu_top.scss */
#menu ul a:hover {
  background: #0186ba;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzA0YWNlYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAxODZiYSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background: linear-gradient(to bottom, #04acec, #0186ba);
}

/* line 137, ../../sass/menu_top.scss */
#menu-icon {
  display: none;
  width: 40px;
  height: 40px;
}

/*MEDIA QUERY*/
@media only screen and (max-width: 1280px) {
  /* line 147, ../../sass/menu_top.scss */
  .iconic {
    display: block;
    position: fixed;
    top: 30px;
    right: 8px;
    width: 40px;
    height: 40px;
    z-index: 1000;
  }
  /* line 155, ../../sass/menu_top.scss */
  .iconic img {
    width: 40px;
    height: 40px;
  }

  /* line 160, ../../sass/menu_top.scss */
  .site-container {
    overflow: hidden;
  }

  /* line 163, ../../sass/menu_top.scss */
  .site-pusher {
    transition-duration: 0.3s;
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }

  /* line 167, ../../sass/menu_top.scss */
  header {
    position: absolute;
  }

  /* line 171, ../../sass/menu_top.scss */
  #menu-icon {
    display: block;
    position: fixed;
    outline: none;
  }

  /* line 179, ../../sass/menu_top.scss */
  .with--sidebar .site-pusher {
    -webkit-transform: translateX(250px);
    transform: translateX(250px);
  }
  /* line 182, ../../sass/menu_top.scss */
  .with--sidebar #site-cache {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
  }

  /* line 192, ../../sass/menu_top.scss */
  #menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    background-color: #216622;
    width: 250px;
    -webkit-transform: translateX(-250px);
    transform: translateX(-250px);
    overflow-y: auto;
    z-index: 1000;
  }
  /* line 206, ../../sass/menu_top.scss */
  #menu a, #menu img, #menu a::after {
    display: block;
    float: none;
    position: static;
    height: 40px;
    text-align: left;
    padding-left: 20px;
    line-height: 40px;
    border-bottom: 1px solid #fff;
    border-radius: initial !important;
  }
  /* line 217, ../../sass/menu_top.scss */
  #menu ul, #menu li {
    display: block;
    float: none;
    position: static;
    border-radius: initial;
  }
  /* line 223, ../../sass/menu_top.scss */
  #menu li {
    padding: 0;
  }
  /* line 226, ../../sass/menu_top.scss */
  #menu li:last-child {
    border-radius: initial;
  }
  /* line 229, ../../sass/menu_top.scss */
  #menu > li > a {
    color: orange;
    background-color: #394c87;
    align: left;
    margin-left: 0;
    padding-left: 0;
  }
}

/*# sourceMappingURL=menu_top.css.map */