{% form_theme formInscr 'bootstrap_3_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block main_page %}
    <div class="container">
        <div class="col-xs-12">
            <h1>Insciption</h1>

            {{ form_start(formInscr) }}
            {{ form_widget(formInscr) }}
            <button type="submit" class="btn btn-success">Go!</button>
            {{ form_end(formInscr) }}
        </div>
    </div>
{% endblock %}
