{% extends 'base.html.twig' %}

{% block title %}Modif du calendrier de gonflage{% endblock %}

{% block main_page %}

    {% import 'macros/bouton.html.twig' as control %}

    <div class="container">

        <div class="col-xs-12 gonflage_planning">
            {% include "intranet/gonflage/_aff_planning.html.twig" %}
        </div>

        <div class="col-xs-12">
            <h3>Modification/Consultation du planning de gonflage pour {{ app.user.Nom ~ ' ' ~ app.user.prenom }}</h3>
        </div>

        <div class="col-xs-12">
            <div class="alert alert-danger gonflage_error" role="alert" hidden></div>
        </div>

        <div class="col-xs-12 gonflage_synthese">
            {% include "intranet/gonflage/_aff_synthese.html.twig" %}
        </div>

        <div class="calendrier_eleves">
            {% include 'intranet/gonflage/_aff_calendrier.html.twig' %}
        </div>

        <div class="col-xs-12">
            <a class="btn btn-light btn-outline-guc btn-block" href="{{ url('index_intranet') }}">
                <span class="glyphicon glyphicon-chevron-left"></span> Revenir à l'accueil de l'intranet.</a>
        </div>

    </div>

{% endblock %}

{% block javascripts_end %}

    {{ parent() }}
    {{ encore_entry_script_tags('gonflage') }}

{% endblock %}
